.navbar{
	border-radius: 0;
	min-height: 80px;
}
.container-fluid{
	margin-top: 18px;
}
.navbar-nav>li>a{
	font-size: 18px;
}
.navbar-brand{
	font-size: 22px;
	font-family: inherit;
	font-style: italic;
	font-weight: 700;
}
.navbar-inverse .navbar-brand{
	color:#00bcd4;
}
.navbar-inverse .navbar-nav>li>a{
		color: #fff;
}
h2{
	margin-left: 60px;
}

#social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }

 #social-em:hover {
     color: #f39c12;
 }
 #social-git:hover{
 	color:black;
 }
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 100%;
}*/