{% extends 'base.html'%}
{% block title %}{{books.title}}{% endblock %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              <strong>{{ message.tags }}</strong> {{message}}
            </div>
        {% endfor %}
    </ul>
{% endif %}

<div class="container-fluid col-sm-offset-1">

    <div class="row">
        <!-- Left books Info -->
        <div class="col-sm-2 col-md-3">
<!--            <div class="panel panel-default">-->
<!--                <div class="panel-body" style="border-radius: 22px 22px 22px 22px;">-->
                    <a href="#">
                        <img src="{{ books.book_logo.url}}" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                    </a>
                    <h2></h2>
<!--                </div>-->
<!--            </div>-->
        </div>
        <!-- Right books Info -->
        <div class="col-sm-offset-1 col-sm-4 col-md-4">
            <h1 style="color:#fff">{{books.title}}</h1>
            <h3><small>Author: {{books.author}}</small></h3>

            <div class="col-sm-offset-0 col-sm-8">
                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' books.id %}" onsubmit="return validateForm()"  name="ratingForm">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Rate book</span>
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        
                                        {% if rate_flag %}
                                            <input type="hidden" name="rating" class="rating-value" value="{{book_rating}}" >
                                        {% else %}
                                            <input type="hidden" name="rating" class="rating-value" value="0">
                                        {% endif %}
                                        {% csrf_token %}
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" role="search" method="post" action="{% url 'detail' books.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="row">
                                <div class="col-lg-14">
                                    <div class="star-rating">
                                        <span>Add to my list  </span>
                                        {% if update %}
                                        <input type="checkbox" name="read" checked>
                                        <input type="submit" class="button" value="Remove" name="read">
                                        {% else %}
                                        <input type="checkbox" name="read">
                                        <input type="submit" class="button" value="Add">

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
<!--                            <input type="submit" class="button" value="Add">-->
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}