{% extends 'base.html'%}
{% block body %}

{% if not request.user.is_authenticated %}
    <br>
{% else %}
    <center style="color:#fff"><h2>Welcome {{user.username}}!!</h2></center>
{% endif %}

<div class="container" >
    <div class="col-xs-6 col-xs-offset-3">
    	<form class="form-horizontal" role="search" method="get" action=''>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}" placeholder= "Search Books"/>
                    <span class='input-group-btn'>
                        <button class='button1' type='submit'>Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
 </div>


<p style="text-align:left;">
    <span style="float:right;">
        <a href="{% url 'recommend' %}" class="btn"><button style="color:#fff;background-color:#4CAF50;padding:10px">Get Book Recommendation</button></a>
    <h2>Book List</h2>
    </span>
</p>
<hr>
<br>

<!-- Book list -->
    <div class="row" >
        {% if books %}
        <div class="row">
            {% for book in books %}
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail" style="border-radius: 22px;">
                    <center><h5>{{book.title}}</h5></center>
                    <a href="{% url 'detail' book.id %}">
                        <img src="{{ book.book_logo.url}}" class="img-responsive" style="border-radius: 22px;">
                    </a>
                </div>
            </div>
            {% if forloop.counter == 6 %}
            <div class = "row"></div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        </div>

</div>


{% endblock %}