{% extends 'base.html'%}
{% block body %}

<h2>My List</h2>
<hr>
<br>
<!-- Book list -->
<div class="row">
    {% if books %}
    {% for book in books %}
        <div class="col-sm-2 col-md-2 ">
            <div class="thumbnail">
                <h4>{{book.title}}</h4>
                <a href="{% url 'detail' book.id %}">
                    <img src="{{ book.book_logo.url}}" class="img-responsive">
                </a>
                <h5>{{book.author}}</h5>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="alert alert-danger">
            <strong>Sorry!</strong> No Books in your list.
        </div>
    {% endif %}
</div>

{% endblock %}